doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  body
    block content
    h5(id="message")
    br
    h1 Yu-Lin's Yelp Recommender
    h5 Built for Capital One's web application challenge using Yelp's Fusion API.
    h5 Source code can be found #[a(href="https://github.com/yyang0087/yelp-express" target="_blank") here.]
    
    h3 Would you like to see random restaurants in your location?
    .container()
        form(method = "POST" action = "/")
          input(type="hidden" name="latitude" value=0)
          input(type="hidden" name="longitude" value=0)
          button(type="submit",class="btn btn-danger btn-block", value="Submit") Give me something random
        hr
        br
        h3 Or you can search for restaurants based on a keyword:
        br
        //  
          #groupbuttons
            div(class=" btn-group btn-group-lg ",role = "group", aria-label="...")
              .btn-group(role="group")
                form(method = "POST" action = "/")
                  button(type="submit",class="btn btn-default", value="Submit") $
              .btn-group(role="group")
                form(method = "POST" action = "/")
                  button(type="submit",class="btn btn-default", value="Submit") $$
              .btn-group(role="group")
                form(method = "POST" action = "/")
                  button(type="submit",class="btn btn-default", value="Submit") $$$
              .btn-group( role="group")
                form(method = "POST" action = "/")
                  button(type="submit",class="btn btn-default", value="Submit") $$$$
        br

        #searchbutton
          form(method = "POST" action = "/")
            #box
              input(type="text" name="search" id="inputbox")
            br
            input(type="hidden" name="latitude2" value=0)
            input(type="hidden" name="longitude2" value=0)
            button(type="submit",class="btn btn-danger btn-default", value="Submit") Search
      if errors
        h6 #{errors[0].msg}
    br
    hr
    #content
      ul(class="list-unstyled")
        if click
          .container
              for result in list
                li
                    .row
                      #bob2
                        .col-sm-2(class="col-sm-offset-4" #theimg)
                          img(#foodpic src= "#{result.image}" width="120" height="120" )
                      #bob
                        .col-sm-3(#itstext)
                          a(href="#{result.url}" target="_blank")
                            h4 #{result.name}
                          p  Price: #{result.rating}
                          p About #{result.distance} kilometers away.
                          a(href="https://www.yelp.com/chicago-burbs" target="_blank")
                            img(#yelp  align="right" width="73" height="47" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/styleguide/9f680ee1c533/assets/img/brand_guidelines/dont_recreate.png")
                hr
        else
          // h5 click yes and that list will appear here


    br
    br
    br
    section#3
      
      h4 You can find more stuff made by me #[a(href="http://yulinyang.me/" target="_blank") here.]
      // Uncomment the following class hide to see the determined latitude and longitude
      p(class = "hide" id = "demo")





    script.
      var x = document.getElementById("demo");
      window.onload = function getLocation() {
          document.getElementById('message').innerHTML = "Please wait until your location can be determined";
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition, onError);
          } else { 
              x.innerHTML = "Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude + 
          "<br>Longitude: " + position.coords.longitude;
          document.getElementById('message').innerHTML = "Location obtained; go ahead and try it out!";
          //random form lat/long
          document.querySelector("[name='latitude']").value = position.coords.latitude;
          document.querySelector("[name='longitude']").value = position.coords.longitude;
          //search form lat/long
          document.querySelector("[name='latitude2']").value = position.coords.latitude;
          document.querySelector("[name='longitude2']").value = position.coords.longitude;
          document.querySelector("[type='submit']").removeAttribute("disabled");

      }
      function onError() {
          document.getElementById('message').innerHTML = "Location could not be obtained. This demo will not work unless location is enabled";
      }

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")